In [ ]:
import pandas as pd
import os
import glob
from pathlib import Path  
  
# χρησιμοποιούμε το glob για να διαβάσουμε όλα τα csv αρχεία
path = os.getcwd()
csv_files = glob.glob(os.path.join(path, "*.csv"))
  
restaurant_id = 1 
restaurant_data = []
ratings = pd.DataFrame([], columns=['User', 'Review', 'Rating', 'UserId', 'RestaurantId'])

# διατρέχουμε όλα τα csv αρχεία
for f in csv_files:
      
    df = pd.read_csv(f)
      
    print('Location:', f)
    print('File Name:', f.split("\\")[-1])
    print('Restaurant Name:', f.split("\\")[-1][:-4])
    restaurant_name = f.split("\\")[-1][:-4]
    # print the content
    print('Content:')
    display(df.head())
    print()
    
    # θέτουμε το user id από 1 μέχρι τον αριθμό των εγγραφών
    df['UserId'] = df.index + 1

    # θέτουμε το restaurant id, το οποίο αυξάνεται κατά 1 σε κάθε iteration
    df['RestaurantId'] = restaurant_id
    
    
    # κρατάμε τα εστιατόριο για την δημιουργία του restaurants.csv
    restaurant_data_point = [restaurant_id, restaurant_name]
    restaurant_data.append(restaurant_data_point)
    
    # κρατάμε όλα τα ratings για την δημιουργία του ratings.csv
    ratings = ratings.append(df, ignore_index = True)
    
    
    print('New Content:')
    display(df.head())
    print()
    
    restaurant_id += 1

C:\Users\chris\anaconda4\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\chris\anaconda4\lib\site-packages\numpy\.libs\libopenblas.GK7GX5KEQ4F6UYO3P26ULGBQYHGQO7J4.gfortran-win_amd64.dll
C:\Users\chris\anaconda4\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

Location: C:\Users\chris\Desktop\ΕΙΔΙΚΟ ΘΕΜΑ\Restaurants Reviews\aleria.csv
File Name: aleria.csv
Restaurant Name: aleria
Content:

,User,Review,Rating
0,OnAir07158368268,A full 5 stars! Phenomenal Michelin ranked res...,5
1,HootHooter,We spent great evening here. Cozy restaurant w...,5
2,NaagyCheese,10/10. Aleria was our highlight during our tri...,5
3,philips23777,Great service and fantastic food. We enjoyed e...,5
4,Martin-Lauer-1970,Let me put it his way: simply perfect. We hate...,5

New Content:

C:\Users\chris\AppData\Local\Temp\ipykernel_9536\102151234.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ratings = ratings.append(df, ignore_index = True)

,User,Review,Rating,UserId,RestaurantId
0,OnAir07158368268,A full 5 stars! Phenomenal Michelin ranked res...,5,1,1
1,HootHooter,We spent great evening here. Cozy restaurant w...,5,2,1
2,NaagyCheese,10/10. Aleria was our highlight during our tri...,5,3,1
3,philips23777,Great service and fantastic food. We enjoyed e...,5,4,1
4,Martin-Lauer-1970,Let me put it his way: simply perfect. We hate...,5,5,1

Location: C:\Users\chris\Desktop\ΕΙΔΙΚΟ ΘΕΜΑ\Restaurants Reviews\alexander_the_great.csv
File Name: alexander_the_great.csv
Restaurant Name: alexander_the_great
Content:

               User                                             Review  Rating
0        Ignatius C  Excellent food and service. \n\nI have been co...       5
1         jia991028  Best dining experience in Athen！！\nFood very t...       5
2           jjinggg  the food was delicious and the service was exc...       5
3  worldtravels1886  After reading so many great reviews, thought t...       3
4       G3393WXanag  Very nice restaurant. The food was really good...       5

New Content:

C:\Users\chris\AppData\Local\Temp\ipykernel_9536\102151234.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ratings = ratings.append(df, ignore_index = True)

,User,Review,Rating,UserId,RestaurantId
0,Ignatius C,Excellent food and service. \n\nI have been co...,5,1,2
1,jia991028,Best dining experience in Athen！！\nFood very t...,5,2,2
2,jjinggg,the food was delicious and the service was exc...,5,3,2
3,worldtravels1886,"After reading so many great reviews, thought t...",3,4,2
4,G3393WXanag,Very nice restaurant. The food was really good...,5,5,2

Location: C:\Users\chris\Desktop\ΕΙΔΙΚΟ ΘΕΜΑ\Restaurants Reviews\arcadia.csv
File Name: arcadia.csv
Restaurant Name: arcadia
Content:

             User                                             Review  Rating
0      SNelson722  Nice restaurant with indoor and outdoor seatin...       5
1  travelinjudy65  This was , without a doubt, the best meal we h...       5
2       DharshikM  Lovely restaurant with an amazing  team of gri...       5
3        Aachmann  I visited Arcadia last year with my husband an...       5
4  OneLovesTravel  Very friendly staff, food was good and portion...       3

New Content:

C:\Users\chris\AppData\Local\Temp\ipykernel_9536\102151234.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ratings = ratings.append(df, ignore_index = True)

,User,Review,Rating,UserId,RestaurantId
0,SNelson722,Nice restaurant with indoor and outdoor seatin...,5,1,3
1,travelinjudy65,"This was , without a doubt, the best meal we h...",5,2,3
2,DharshikM,Lovely restaurant with an amazing team of gri...,5,3,3
3,Aachmann,I visited Arcadia last year with my husband an...,5,4,3
4,OneLovesTravel,"Very friendly staff, food was good and portion...",3,5,3

Location: C:\Users\chris\Desktop\ΕΙΔΙΚΟ ΘΕΜΑ\Restaurants Reviews\athenascook.csv
File Name: athenascook.csv
Restaurant Name: athenascook
Content:

               User                                             Review  Rating
0        Claudiacbu  Πολύ νόστιμο και εξαιρετικής ποιότητας φαγητό,...       5
1        MariaK6727  Το φαγητο, ποτο, εξυπηρετηση, ατμοσφαιρα τελει...       5
2         thomab399  Μια πολυ καλη επιλογή για ποτό και φαγητό, υπέ...       5
3  konstantina_tzoo  Υπέροχα ποτά, εξαιρετική εξυπηρέτηση, ωραία ατ...       5
4    E868RWgiannisk  Εξαιρετικές γεύσεις, πολύ προσεγμένα πιάτα, επ...       5

New Content:

C:\Users\chris\AppData\Local\Temp\ipykernel_9536\102151234.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ratings = ratings.append(df, ignore_index = True)

,User,Review,Rating,UserId,RestaurantId
0,Claudiacbu,"Πολύ νόστιμο και εξαιρετικής ποιότητας φαγητό,...",5,1,4
1,MariaK6727,"Το φαγητο, ποτο, εξυπηρετηση, ατμοσφαιρα τελει...",5,2,4
2,thomab399,"Μια πολυ καλη επιλογή για ποτό και φαγητό, υπέ...",5,3,4
3,konstantina_tzoo,"Υπέροχα ποτά, εξαιρετική εξυπηρέτηση, ωραία ατ...",5,4,4
4,E868RWgiannisk,"Εξαιρετικές γεύσεις, πολύ προσεγμένα πιάτα, επ...",5,5,4

Location: C:\Users\chris\Desktop\ΕΙΔΙΚΟ ΘΕΜΑ\Restaurants Reviews\atitamos.csv
File Name: atitamos.csv
Restaurant Name: atitamos
Content:

           User                                             Review  Rating
0      D2501PV_  Είναι τρομερό, το βρήκα μια μέρα τυχαία που το...       5
1    nickynin94  Φανταστικό φαγητό καταπληκτικοί άνθρωποι ! \nΣ...       5
2  michalism386  Τι να πω για το εστιατόριο αυτό; Πεντακάθαρο, ...       5
3   Nomad812948  Μεγάλη ποικιλία. Τα πιάτα της ημέρας αξίζει κα...       5
4  Stathakios A  Καλο μαγαζι για το κέντρο της Αθήνας. Καλά φαγ...       5

New Content:

C:\Users\chris\AppData\Local\Temp\ipykernel_9536\102151234.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ratings = ratings.append(df, ignore_index = True)

,User,Review,Rating,UserId,RestaurantId
0,D2501PV_,"Είναι τρομερό, το βρήκα μια μέρα τυχαία που το...",5,1,5
1,nickynin94,Φανταστικό φαγητό καταπληκτικοί άνθρωποι ! \nΣ...,5,2,5
2,michalism386,"Τι να πω για το εστιατόριο αυτό; Πεντακάθαρο, ...",5,3,5
3,Nomad812948,Μεγάλη ποικιλία. Τα πιάτα της ημέρας αξίζει κα...,5,4,5
4,Stathakios A,Καλο μαγαζι για το κέντρο της Αθήνας. Καλά φαγ...,5,5,5

Location: C:\Users\chris\Desktop\ΕΙΔΙΚΟ ΘΕΜΑ\Restaurants Reviews\balcony.csv
File Name: balcony.csv
Restaurant Name: balcony
Content:

,User,Review,Rating
0,999mtngrl703,We were looking for somewhere to eat outside a...,5
1,Terje Ø,"Delicious food, great service and nice balcony...",5
2,marinavaris,"Great food and friendly service, definitely wo...",5
3,Navigator49807437100,Everything was perfect! Every dish combines bo...,5
4,HealeyHerod,We went to Balcony on a Monday. We were seated...,5

New Content:

C:\Users\chris\AppData\Local\Temp\ipykernel_9536\102151234.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ratings = ratings.append(df, ignore_index = True)

,User,Review,Rating,UserId,RestaurantId
0,999mtngrl703,We were looking for somewhere to eat outside a...,5,1,6
1,Terje Ø,"Delicious food, great service and nice balcony...",5,2,6
2,marinavaris,"Great food and friendly service, definitely wo...",5,3,6
3,Navigator49807437100,Everything was perfect! Every dish combines bo...,5,4,6
4,HealeyHerod,We went to Balcony on a Monday. We were seated...,5,5,6

Location: C:\Users\chris\Desktop\ΕΙΔΙΚΟ ΘΕΜΑ\Restaurants Reviews\dio_dekares.csv
File Name: dio_dekares.csv
Restaurant Name: dio_dekares
Content:

           User                                             Review  Rating
0      vanesova  Εξαιρετικό εστιατόριο καθ όλα. Φαγητό με γεύσε...       5
1    MakaoMakao  Επισκέφθηκαμε το μαγαζι με φίλους.  Αρχικά υπή...       5
2       kps1972  Αν θέλετε να φάτε καλό φαγητό σε ένα ωραίο χώρ...       5
3     markidisi  Πολυ ωραίος χώρος, πολυ ωραια κουζίνα με μοναδ...       5
4  nikolasa2017  Το εστιατόριο με τις υπέροχες γεύσεις.. έχει κ...       5

New Content:

C:\Users\chris\AppData\Local\Temp\ipykernel_9536\102151234.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ratings = ratings.append(df, ignore_index = True)

,User,Review,Rating,UserId,RestaurantId
0,vanesova,Εξαιρετικό εστιατόριο καθ όλα. Φαγητό με γεύσε...,5,1,7
1,MakaoMakao,Επισκέφθηκαμε το μαγαζι με φίλους. Αρχικά υπή...,5,2,7
2,kps1972,Αν θέλετε να φάτε καλό φαγητό σε ένα ωραίο χώρ...,5,3,7
3,markidisi,"Πολυ ωραίος χώρος, πολυ ωραια κουζίνα με μοναδ...",5,4,7
4,nikolasa2017,Το εστιατόριο με τις υπέροχες γεύσεις.. έχει κ...,5,5,7

Location: C:\Users\chris\Desktop\ΕΙΔΙΚΟ ΘΕΜΑ\Restaurants Reviews\efcharis.csv
File Name: efcharis.csv
Restaurant Name: efcharis
Content:

,User,Review,Rating
0,S1684NTanitat,"Excellent place to eat. The prices are good, f...",5
1,kwilkinsonpeaches,This was a gem to find! Had the most amazing m...,5
2,jimaouts07,We visited this restaurant with my girlfriend ...,5
3,NessyQ1,"A wonderful restaurant, the service is more th...",5
4,95sophiak,"A really wonderful dining experience. Fun, li...",5

New Content:

C:\Users\chris\AppData\Local\Temp\ipykernel_9536\102151234.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ratings = ratings.append(df, ignore_index = True)

,User,Review,Rating,UserId,RestaurantId
0,S1684NTanitat,"Excellent place to eat. The prices are good, f...",5,1,8
1,kwilkinsonpeaches,This was a gem to find! Had the most amazing m...,5,2,8
2,jimaouts07,We visited this restaurant with my girlfriend ...,5,3,8
3,NessyQ1,"A wonderful restaurant, the service is more th...",5,4,8
4,95sophiak,"A really wonderful dining experience. Fun, li...",5,5,8

Location: C:\Users\chris\Desktop\ΕΙΔΙΚΟ ΘΕΜΑ\Restaurants Reviews\elaea.csv
File Name: elaea.csv
Restaurant Name: elaea
Content:

            User                                             Review  Rating
0        jbgud50  Service was impeccable by the staff of Elaea M...       5
1    Karina C. L  Great food!!! Great place in the heart of plak...       5
2  thisgirl_Gray  This place was 🔥! One of the best spots for go...       5
3       Finnstar  So many to chose from, we picked a winner.\nWa...       5
4  Anonymous0911  I went there to try Greece's seafood. All the ...       5

New Content:

C:\Users\chris\AppData\Local\Temp\ipykernel_9536\102151234.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ratings = ratings.append(df, ignore_index = True)

,User,Review,Rating,UserId,RestaurantId
0,jbgud50,Service was impeccable by the staff of Elaea M...,5,1,9
1,Karina C. L,Great food!!! Great place in the heart of plak...,5,2,9
2,thisgirl_Gray,This place was 🔥! One of the best spots for go...,5,3,9
3,Finnstar,"So many to chose from, we picked a winner.\nWa...",5,4,9
4,Anonymous0911,I went there to try Greece's seafood. All the ...,5,5,9

Location: C:\Users\chris\Desktop\ΕΙΔΙΚΟ ΘΕΜΑ\Restaurants Reviews\gods_restaurant.csv
File Name: gods_restaurant.csv
Restaurant Name: gods_restaurant
Content:

              User                                             Review  Rating
0      Karina C. L  They have great food !!  Excelent service!! A ...       5
1         bobbi675  This restaurant was absolutely wonderful,food ...       5
2          Linda G  We loved God's restaurant - ate there twice du...       5
3  Senioronabudget  We had the meat combo for two.  It not only fi...       5
4          Ellie M  Really lovely service and delicious food.\nSta...       5

New Content:

C:\Users\chris\AppData\Local\Temp\ipykernel_9536\102151234.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ratings = ratings.append(df, ignore_index = True)

,User,Review,Rating,UserId,RestaurantId
0,Karina C. L,They have great food !! Excelent service!! A ...,5,1,10
1,bobbi675,"This restaurant was absolutely wonderful,food ...",5,2,10
2,Linda G,We loved God's restaurant - ate there twice du...,5,3,10
3,Senioronabudget,We had the meat combo for two. It not only fi...,5,4,10
4,Ellie M,Really lovely service and delicious food.\nSta...,5,5,10

Location: C:\Users\chris\Desktop\ΕΙΔΙΚΟ ΘΕΜΑ\Restaurants Reviews\karamanlidika.csv
File Name: karamanlidika.csv
Restaurant Name: karamanlidika
Content:

          User                                             Review  Rating
0       SHFT54  Off the beaten path and not very touristy. We ...       5
1   grumpytyke  Unusual charcuterie based deli with loads of t...       4
2  thesG7393QF  Stop looking, you just found the best place in...       5
3   Jesstrmprs  Excellent quality of food, very well cooked wi...       5
4   Fabian8019  Very special place during my visit to Athens. ...       5

New Content:

C:\Users\chris\AppData\Local\Temp\ipykernel_9536\102151234.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ratings = ratings.append(df, ignore_index = True)

,User,Review,Rating,UserId,RestaurantId
0,SHFT54,Off the beaten path and not very touristy. We ...,5,1,11
1,grumpytyke,Unusual charcuterie based deli with loads of t...,4,2,11
2,thesG7393QF,"Stop looking, you just found the best place in...",5,3,11
3,Jesstrmprs,"Excellent quality of food, very well cooked wi...",5,4,11
4,Fabian8019,Very special place during my visit to Athens. ...,5,5,11

Location: C:\Users\chris\Desktop\ΕΙΔΙΚΟ ΘΕΜΑ\Restaurants Reviews\klimataria.csv
File Name: klimataria.csv
Restaurant Name: klimataria
Content:

             User                                             Review  Rating
0  ge0rgiana0anas  Very good and authentic! Looks like a historia...       5
1    thefullmalty  Positives - the live music. Incredible. SO goo...       3
2          NAG192  This restaurant absolutely requires reservatio...       5
3         OfirT20  The atmosphere is great, very good music, all ...       2
4       limors254  Terrible neighborhood, food was disgusting, se...       1

C:\Users\chris\AppData\Local\Temp\ipykernel_9536\102151234.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ratings = ratings.append(df, ignore_index = True)

New Content:

,User,Review,Rating,UserId,RestaurantId
0,ge0rgiana0anas,Very good and authentic! Looks like a historia...,5,1,12
1,thefullmalty,Positives - the live music. Incredible. SO goo...,3,2,12
2,NAG192,This restaurant absolutely requires reservatio...,5,3,12
3,OfirT20,"The atmosphere is great, very good music, all ...",2,4,12
4,limors254,"Terrible neighborhood, food was disgusting, se...",1,5,12

Location: C:\Users\chris\Desktop\ΕΙΔΙΚΟ ΘΕΜΑ\Restaurants Reviews\liondi.csv
File Name: liondi.csv
Restaurant Name: liondi
Content:

,User,Review,Rating
0,hmmitchell1,"Stunning food, excellent veggie and vegan opti...",5
1,Passenger19713452146,What a fabulous evening!! The food was superb ...,5
2,IvethBorch,Hands downs the best greek food we had during ...,5
3,jordanwV9979XH,We had the best experience at Liondi. Our hote...,5
4,meganpN6869TY,We had the best experience at Liondi. Wish we ...,5

New Content:

C:\Users\chris\AppData\Local\Temp\ipykernel_9536\102151234.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ratings = ratings.append(df, ignore_index = True)

,User,Review,Rating,UserId,RestaurantId
0,hmmitchell1,"Stunning food, excellent veggie and vegan opti...",5,1,13
1,Passenger19713452146,What a fabulous evening!! The food was superb ...,5,2,13
2,IvethBorch,Hands downs the best greek food we had during ...,5,3,13
3,jordanwV9979XH,We had the best experience at Liondi. Our hote...,5,4,13
4,meganpN6869TY,We had the best experience at Liondi. Wish we ...,5,5,13

Location: C:\Users\chris\Desktop\ΕΙΔΙΚΟ ΘΕΜΑ\Restaurants Reviews\lithos.csv
File Name: lithos.csv
Restaurant Name: lithos
Content:

             User                                             Review  Rating
0          Tina M  We had the nicest waiter and the food is to di...       5
1      Alexx31057  We were in Athens for a short stay and we were...       5
2  R9626ZAisabeld  AMAZING! yummy food 😋 service 😎 i loved eating...       5
3    553michalist  Delicious food, nice atmosphere, beautiful int...       5
4       617thijsl  Great staff, food was really good.\nThe water ...       5

New Content:

C:\Users\chris\AppData\Local\Temp\ipykernel_9536\102151234.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ratings = ratings.append(df, ignore_index = True)

,User,Review,Rating,UserId,RestaurantId
0,Tina M,We had the nicest waiter and the food is to di...,5,1,14
1,Alexx31057,We were in Athens for a short stay and we were...,5,2,14
2,R9626ZAisabeld,AMAZING! yummy food 😋 service 😎 i loved eating...,5,3,14
3,553michalist,"Delicious food, nice atmosphere, beautiful int...",5,4,14
4,617thijsl,"Great staff, food was really good.\nThe water ...",5,5,14

Location: C:\Users\chris\Desktop\ΕΙΔΙΚΟ ΘΕΜΑ\Restaurants Reviews\maiandros.csv
File Name: maiandros.csv
Restaurant Name: maiandros
Content:

            User                                             Review  Rating
0      manos1322  friendly staff and fast service the food was r...       5
1  FlipflopsYork  Friendly staff and good quality food. We had a...       4
2   zerhangelina  Came here for a lunch break and we were not di...       4
3    guttolipaes  Very good food, very welcoming staff. I tried ...       5
4  W2088APdavidg  Our second time of visiting, once for lunch an...       5

New Content:

C:\Users\chris\AppData\Local\Temp\ipykernel_9536\102151234.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ratings = ratings.append(df, ignore_index = True)

,User,Review,Rating,UserId,RestaurantId
0,manos1322,friendly staff and fast service the food was r...,5,1,15
1,FlipflopsYork,Friendly staff and good quality food. We had a...,4,2,15
2,zerhangelina,Came here for a lunch break and we were not di...,4,3,15
3,guttolipaes,"Very good food, very welcoming staff. I tried ...",5,4,15
4,W2088APdavidg,"Our second time of visiting, once for lunch an...",5,5,15

Location: C:\Users\chris\Desktop\ΕΙΔΙΚΟ ΘΕΜΑ\Restaurants Reviews\mani_mani.csv
File Name: mani_mani.csv
Restaurant Name: mani_mani
Content:

              User                                             Review  Rating
0  _amaliakorakakh  Ένα εξαιρετικό μαγαζί με πλούσιες γευσεις βασι...       5
1   yiannissar2017  Λεπτες γευσεις με εκλεκτα υλικά Ελληνικής παρα...       5
2        Στράτος Μ  Ήταν μια γευστική εμπειρία !! Πολύ ωραίες γεύσ...       5
3              V M  Όμορφος χώρος σε ένα ψηλοτάβανο παλιό σπίτι, ε...       3
4         xripanag  Δοκιμάσαμε πιάτα από όλα τις κατηγορίες του με...       5

New Content:

C:\Users\chris\AppData\Local\Temp\ipykernel_9536\102151234.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ratings = ratings.append(df, ignore_index = True)

,User,Review,Rating,UserId,RestaurantId
0,_amaliakorakakh,Ένα εξαιρετικό μαγαζί με πλούσιες γευσεις βασι...,5,1,16
1,yiannissar2017,Λεπτες γευσεις με εκλεκτα υλικά Ελληνικής παρα...,5,2,16
2,Στράτος Μ,Ήταν μια γευστική εμπειρία !! Πολύ ωραίες γεύσ...,5,3,16
3,V M,"Όμορφος χώρος σε ένα ψηλοτάβανο παλιό σπίτι, ε...",3,4,16
4,xripanag,Δοκιμάσαμε πιάτα από όλα τις κατηγορίες του με...,5,5,16

Location: C:\Users\chris\Desktop\ΕΙΔΙΚΟ ΘΕΜΑ\Restaurants Reviews\mironi.csv
File Name: mironi.csv
Restaurant Name: mironi
Content:

              User                                             Review  Rating
0  MoonstoneJimbob  We were staying local at the Brown Acropol (gr...       4
1        Comosomo1  Delicious food, welcoming staff and fabulous l...       5
2    FlipflopsYork  We were in Athens for 4 nights and had read go...       5
3        ElenaBgdn  It is so loud here in the evening! I have a he...       3
4        470cliveb  Best meal had in Athens. Had to wait to go in,...       5

New Content:

C:\Users\chris\AppData\Local\Temp\ipykernel_9536\102151234.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ratings = ratings.append(df, ignore_index = True)

,User,Review,Rating,UserId,RestaurantId
0,MoonstoneJimbob,We were staying local at the Brown Acropol (gr...,4,1,17
1,Comosomo1,"Delicious food, welcoming staff and fabulous l...",5,2,17
2,FlipflopsYork,We were in Athens for 4 nights and had read go...,5,3,17
3,ElenaBgdn,It is so loud here in the evening! I have a he...,3,4,17
4,470cliveb,"Best meal had in Athens. Had to wait to go in,...",5,5,17

Location: C:\Users\chris\Desktop\ΕΙΔΙΚΟ ΘΕΜΑ\Restaurants Reviews\nolan.csv
File Name: nolan.csv
Restaurant Name: nolan
Content:

          User                                             Review  Rating
0   Jesstrmprs  It is a different type of restaurants we tried...       4
1       TH_FnB  Had a nice lunch with my wife at Nolan.  It ha...       4
2      gnyrret  A fusion of Japanese and Greek meant a wider u...       4
3  215chandrad  One of the best meals we have ever had!! Such ...       5
4  485despinah  Feels like home every time and that’s not only...       5

New Content:

C:\Users\chris\AppData\Local\Temp\ipykernel_9536\102151234.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ratings = ratings.append(df, ignore_index = True)

,User,Review,Rating,UserId,RestaurantId
0,Jesstrmprs,It is a different type of restaurants we tried...,4,1,18
1,TH_FnB,Had a nice lunch with my wife at Nolan. It ha...,4,2,18
2,gnyrret,A fusion of Japanese and Greek meant a wider u...,4,3,18
3,215chandrad,One of the best meals we have ever had!! Such ...,5,4,18
4,485despinah,Feels like home every time and that’s not only...,5,5,18

Location: C:\Users\chris\Desktop\ΕΙΔΙΚΟ ΘΕΜΑ\Restaurants Reviews\oroscopo.csv
File Name: oroscopo.csv
Restaurant Name: oroscopo
Content:

              User                                             Review  Rating
0         Håvard S  Me and my girlfriend decided to stop by here d...       5
1  GSLGigHarbor_WA  Our guide in Greece told us that this place is...       5
2    U1395SXemilyb  We came here tonight and cannot recommend them...       5
3         neilm707  We dined at Oroscopo on our last night in Athe...       5
4       Chrisonly2  Friendly, outdoor setting and great food.  The...       5

New Content:

C:\Users\chris\AppData\Local\Temp\ipykernel_9536\102151234.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ratings = ratings.append(df, ignore_index = True)

,User,Review,Rating,UserId,RestaurantId
0,Håvard S,Me and my girlfriend decided to stop by here d...,5,1,19
1,GSLGigHarbor_WA,Our guide in Greece told us that this place is...,5,2,19
2,U1395SXemilyb,We came here tonight and cannot recommend them...,5,3,19
3,neilm707,We dined at Oroscopo on our last night in Athe...,5,4,19
4,Chrisonly2,"Friendly, outdoor setting and great food. The...",5,5,19

Location: C:\Users\chris\Desktop\ΕΙΔΙΚΟ ΘΕΜΑ\Restaurants Reviews\o_thanasis.csv
File Name: o_thanasis.csv
Restaurant Name: o_thanasis
Content:

             User                                             Review  Rating
0      294aileenc  Good food served here but server was grumpy, o...       4
1  DormeurMangeur  I had found O-Thanasis on the Internet - decid...       5
2          SHFT54  Sure it’s big and touristy. And the food comes...       3
3       Deefoodie  This restaurant was in a pleasant square with ...       4
4         Stacy S  The driver who brought us from the airport to ...       4

New Content:

C:\Users\chris\AppData\Local\Temp\ipykernel_9536\102151234.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ratings = ratings.append(df, ignore_index = True)

,User,Review,Rating,UserId,RestaurantId
0,294aileenc,"Good food served here but server was grumpy, o...",4,1,20
1,DormeurMangeur,I had found O-Thanasis on the Internet - decid...,5,2,20
2,SHFT54,Sure it’s big and touristy. And the food comes...,3,3,20
3,Deefoodie,This restaurant was in a pleasant square with ...,4,4,20
4,Stacy S,The driver who brought us from the airport to ...,4,5,20

Location: C:\Users\chris\Desktop\ΕΙΔΙΚΟ ΘΕΜΑ\Restaurants Reviews\rozalia.csv
File Name: rozalia.csv
Restaurant Name: rozalia
Content:

,User,Review,Rating
0,BELL3221,We had the lamb and souvlaki and both were so ...,5
1,Laura Christne P,We went to this place on our first day in Athe...,5
2,helen k,Wow we were recommended this restaurant by our...,5
3,SiegmundBommenstein,"We had lunch here; great food, beautiful terra...",4
4,aeftimmula,We were staying in the area and ate here on nu...,5

C:\Users\chris\AppData\Local\Temp\ipykernel_9536\102151234.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ratings = ratings.append(df, ignore_index = True)

New Content:

,User,Review,Rating,UserId,RestaurantId
0,BELL3221,We had the lamb and souvlaki and both were so ...,5,1,21
1,Laura Christne P,We went to this place on our first day in Athe...,5,2,21
2,helen k,Wow we were recommended this restaurant by our...,5,3,21
3,SiegmundBommenstein,"We had lunch here; great food, beautiful terra...",4,4,21
4,aeftimmula,We were staying in the area and ate here on nu...,5,5,21

Location: C:\Users\chris\Desktop\ΕΙΔΙΚΟ ΘΕΜΑ\Restaurants Reviews\scholarchio.csv
File Name: scholarchio.csv
Restaurant Name: scholarchio
Content:

,User,Review,Rating
0,Oslobob,Great dishes for sharing. Get the lamb also. ...,5
1,FrequentFlier619286,Delicious meal for 4!!\nWe stumbled across Sch...,5
2,Sharkrunner17,"Very accommodating, we requested an outside ta...",4
3,UpperMichiganNomad,Wow! What gluttons we were here. Great atmosp...,5
4,AnnZ380,A friend recommended this restaurant and so ...,5

New Content:

C:\Users\chris\AppData\Local\Temp\ipykernel_9536\102151234.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ratings = ratings.append(df, ignore_index = True)

,User,Review,Rating,UserId,RestaurantId
0,Oslobob,Great dishes for sharing. Get the lamb also. ...,5,1,22
1,FrequentFlier619286,Delicious meal for 4!!\nWe stumbled across Sch...,5,2,22
2,Sharkrunner17,"Very accommodating, we requested an outside ta...",4,3,22
3,UpperMichiganNomad,Wow! What gluttons we were here. Great atmosp...,5,4,22
4,AnnZ380,A friend recommended this restaurant and so ...,5,5,22

Location: C:\Users\chris\Desktop\ΕΙΔΙΚΟ ΘΕΜΑ\Restaurants Reviews\sin_athina.csv
File Name: sin_athina.csv
Restaurant Name: sin_athina
Content:

             User                                             Review  Rating
0   YaniTheYawner  I am very disappointed with my experience at S...       1
1  MrandMrsGWilde  We went for an early supper before heading to ...       5
2          gusyat  We reserve a table as was recommended by trip ...       1
3      51melissaz  Wonderful food for a great price with a beauti...       5
4      Cherilyn K  Lovely place to eat. Nice ambiance, the views ...       5

New Content:

C:\Users\chris\AppData\Local\Temp\ipykernel_9536\102151234.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ratings = ratings.append(df, ignore_index = True)

,User,Review,Rating,UserId,RestaurantId
0,YaniTheYawner,I am very disappointed with my experience at S...,1,1,23
1,MrandMrsGWilde,We went for an early supper before heading to ...,5,2,23
2,gusyat,We reserve a table as was recommended by trip ...,1,3,23
3,51melissaz,Wonderful food for a great price with a beauti...,5,4,23
4,Cherilyn K,"Lovely place to eat. Nice ambiance, the views ...",5,5,23

Location: C:\Users\chris\Desktop\ΕΙΔΙΚΟ ΘΕΜΑ\Restaurants Reviews\smile.csv
File Name: smile.csv
Restaurant Name: smile
Content:

              User                                             Review  Rating
0  E8518LLnataliac  The food is amazing, we tried three different ...       5
1       smjenkin41  The food was all home made , freshly made and ...       4
2       bonnied389  This restaurant is fantastic!  Everything’s ho...       5
3    chrislR4493HU  Our flight from Crete was delayed, arriving in...       5
4           Aida G  Excellent breakfast spot. I ate pancakes with ...       4

New Content:

C:\Users\chris\AppData\Local\Temp\ipykernel_9536\102151234.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ratings = ratings.append(df, ignore_index = True)

,User,Review,Rating,UserId,RestaurantId
0,E8518LLnataliac,"The food is amazing, we tried three different ...",5,1,24
1,smjenkin41,"The food was all home made , freshly made and ...",4,2,24
2,bonnied389,This restaurant is fantastic! Everything’s ho...,5,3,24
3,chrislR4493HU,"Our flight from Crete was delayed, arriving in...",5,4,24
4,Aida G,Excellent breakfast spot. I ate pancakes with ...,4,5,24

Location: C:\Users\chris\Desktop\ΕΙΔΙΚΟ ΘΕΜΑ\Restaurants Reviews\strofi.csv
File Name: strofi.csv
Restaurant Name: strofi
Content:

          User                                             Review  Rating
0     sssteveg  Strofi is located right near the Acropolis, an...       3
1    Deefoodie  We came here for our last evening in Athens an...       5
2       psetna  Amazing food and service. They have a spectacu...       5
3       Paul A  Great food and wonderful view of the Parthenon...       5
4  Kmw_Retired  Lovely varied menu - land and sea - spotless, ...       5

New Content:

C:\Users\chris\AppData\Local\Temp\ipykernel_9536\102151234.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ratings = ratings.append(df, ignore_index = True)

,User,Review,Rating,UserId,RestaurantId
0,sssteveg,"Strofi is located right near the Acropolis, an...",3,1,25
1,Deefoodie,We came here for our last evening in Athens an...,5,2,25
2,psetna,Amazing food and service. They have a spectacu...,5,3,25
3,Paul A,Great food and wonderful view of the Parthenon...,5,4,25
4,Kmw_Retired,"Lovely varied menu - land and sea - spotless, ...",5,5,25

Location: C:\Users\chris\Desktop\ΕΙΔΙΚΟ ΘΕΜΑ\Restaurants Reviews\the_greco.csv
File Name: the_greco.csv
Restaurant Name: the_greco
Content:

            User                                             Review  Rating
0  christosd2016  Την τοποθεσία δύσκολα μπορείς να μην την βρεις...       4
1         Lenmav  Τελεια ποιοτητα αψογο προσωπικο πολυ γρηγορο σ...       5
2   OurRoadTrips  Δυο φορές σε δυο μέρες πήγα στο κατάστημα του ...       5
3       T6775WA_  Πήγαμε έπειτα από μια πολύ κουραστική ημέρα με...       5
4       Ειρήνη Μ  Ενα εστιατόρειο με μεγάλη ποικιλία φαγητών για...       5

New Content:

C:\Users\chris\AppData\Local\Temp\ipykernel_9536\102151234.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ratings = ratings.append(df, ignore_index = True)

,User,Review,Rating,UserId,RestaurantId
0,christosd2016,Την τοποθεσία δύσκολα μπορείς να μην την βρεις...,4,1,26
1,Lenmav,Τελεια ποιοτητα αψογο προσωπικο πολυ γρηγορο σ...,5,2,26
2,OurRoadTrips,Δυο φορές σε δυο μέρες πήγα στο κατάστημα του ...,5,3,26
3,T6775WA_,Πήγαμε έπειτα από μια πολύ κουραστική ημέρα με...,5,4,26
4,Ειρήνη Μ,Ενα εστιατόρειο με μεγάλη ποικιλία φαγητών για...,5,5,26

Location: C:\Users\chris\Desktop\ΕΙΔΙΚΟ ΘΕΜΑ\Restaurants Reviews\to_kati_allo.csv
File Name: to_kati_allo.csv
Restaurant Name: to_kati_allo
Content:

          User                                             Review  Rating
0      TorA_13  So, you want good traditional Greek food in un...       4
1  323viviannc  Me and my husband ate here since the original ...       2
2       FQCruz  Service - the best! All dishes were carefully ...       5
3    PDX_MarkC  Excellent family cooked Greek food.  Delicious...       5
4  201beverlyk  Very friendly host showed us and explained wha...       5

New Content:

C:\Users\chris\AppData\Local\Temp\ipykernel_9536\102151234.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ratings = ratings.append(df, ignore_index = True)

,User,Review,Rating,UserId,RestaurantId
0,TorA_13,"So, you want good traditional Greek food in un...",4,1,27
1,323viviannc,Me and my husband ate here since the original ...,2,2,27
2,FQCruz,Service - the best! All dishes were carefully ...,5,3,27
3,PDX_MarkC,Excellent family cooked Greek food. Delicious...,5,4,27
4,201beverlyk,Very friendly host showed us and explained wha...,5,5,27

Location: C:\Users\chris\Desktop\ΕΙΔΙΚΟ ΘΕΜΑ\Restaurants Reviews\to_paradosiako.csv
File Name: to_paradosiako.csv
Restaurant Name: to_paradosiako
Content:

,User,Review,Rating
0,_anna_mcconnell,"Nothing fancy, just excellent food and friendl...",5
1,Gaye N,Researched this place as can see it from our h...,5
2,Ken H,On the server's recommendation we had a beauti...,5
3,Explorer26242628003,Hands down the best local restaurant we tried....,5
4,ChayaLispector18,"Travel-weary and newly arrived, my husband and...",5

New Content:

C:\Users\chris\AppData\Local\Temp\ipykernel_9536\102151234.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ratings = ratings.append(df, ignore_index = True)

,User,Review,Rating,UserId,RestaurantId
0,_anna_mcconnell,"Nothing fancy, just excellent food and friendl...",5,1,28
1,Gaye N,Researched this place as can see it from our h...,5,2,28
2,Ken H,On the server's recommendation we had a beauti...,5,3,28
3,Explorer26242628003,Hands down the best local restaurant we tried....,5,4,28
4,ChayaLispector18,"Travel-weary and newly arrived, my husband and...",5,5,28

Location: C:\Users\chris\Desktop\ΕΙΔΙΚΟ ΘΕΜΑ\Restaurants Reviews\tzitzikas_kai_mermigas.csv
File Name: tzitzikas_kai_mermigas.csv
Restaurant Name: tzitzikas_kai_mermigas
Content:

              User                                             Review  Rating
0             gtb6  Great food, drink and service. Shared small pl...       5
1    U5826PHsarahm  Local driver told us this was the place to go ...       4
2          JimTere  Small little restaurant right outside the busy...       4
3  Hannahanderson7  Good location, Greek traditional food above av...       4
4    Culture789708  This was in a great location right off of Synt...       4

New Content:

C:\Users\chris\AppData\Local\Temp\ipykernel_9536\102151234.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ratings = ratings.append(df, ignore_index = True)

,User,Review,Rating,UserId,RestaurantId
0,gtb6,"Great food, drink and service. Shared small pl...",5,1,29
1,U5826PHsarahm,Local driver told us this was the place to go ...,4,2,29
2,JimTere,Small little restaurant right outside the busy...,4,3,29
3,Hannahanderson7,"Good location, Greek traditional food above av...",4,4,29
4,Culture789708,This was in a great location right off of Synt...,4,5,29

Location: C:\Users\chris\Desktop\ΕΙΔΙΚΟ ΘΕΜΑ\Restaurants Reviews\ydria.csv
File Name: ydria.csv
Restaurant Name: ydria
Content:

         User                                             Review  Rating
0  writergrrl  Found this lovely spot as one side of a leafy ...       4
1   155meganh  Visited Athens on a couples holiday. Visited t...       5
2       gd275  Waited over an hour for meals.  When finally a...       1
3      RBB242  We had some late afternoon drinks here and enj...       3
4     bosi_12  Starters were great\nMain dishes were average\...       3

New Content:

C:\Users\chris\AppData\Local\Temp\ipykernel_9536\102151234.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ratings = ratings.append(df, ignore_index = True)

,User,Review,Rating,UserId,RestaurantId
0,writergrrl,Found this lovely spot as one side of a leafy ...,4,1,30
1,155meganh,Visited Athens on a couples holiday. Visited t...,5,2,30
2,gd275,Waited over an hour for meals. When finally a...,1,3,30
3,RBB242,We had some late afternoon drinks here and enj...,3,4,30
4,bosi_12,Starters were great\nMain dishes were average\...,3,5,30

In [ ]:
df_restaurants = pd.DataFrame(restaurant_data, columns=['RestaurantId', 'Name'])

In [ ]:
df_restaurants

    RestaurantId                    Name
0              1                  aleria
1              2     alexander_the_great
2              3                 arcadia
3              4             athenascook
4              5                atitamos
5              6                 balcony
6              7             dio_dekares
7              8                efcharis
8              9                   elaea
9             10         gods_restaurant
10            11           karamanlidika
11            12              klimataria
12            13                  liondi
13            14                  lithos
14            15               maiandros
15            16               mani_mani
16            17                  mironi
17            18                   nolan
18            19                oroscopo
19            20              o_thanasis
20            21                 rozalia
21            22             scholarchio
22            23              sin_athina
23            24                   smile
24            25                  strofi
25            26               the_greco
26            27            to_kati_allo
27            28          to_paradosiako
28            29  tzitzikas_kai_mermigas
29            30                   ydria

In [ ]:
ratings

,User,Review,Rating,UserId,RestaurantId
0,OnAir07158368268,A full 5 stars! Phenomenal Michelin ranked res...,5,1,1
1,HootHooter,We spent great evening here. Cozy restaurant w...,5,2,1
2,NaagyCheese,10/10. Aleria was our highlight during our tri...,5,3,1
3,philips23777,Great service and fantastic food. We enjoyed e...,5,4,1
4,Martin-Lauer-1970,Let me put it his way: simply perfect. We hate...,5,5,1
...,...,...,...,...,...
26203,KayMarco,"Very good grilled octopus, spinach pie and Sau...",5,1000,30
26204,865catalinab,"The food is sensarional, the service is great....",5,1001,30
26205,SuffolkAnn,Risotto was excellent. Wine was an extremely s...,4,1002,30
26206,bipscutie,We decided to eat here for an afternoon snack ...,5,1003,30
26207,marielali,Waiters speak different languages and they are...,3,1004,30

In [ ]:
df_ratings = pd.DataFrame([], columns=[])
df_ratings['UserId'] = ratings['UserId'] 
df_ratings['RestaurantId'] = ratings['RestaurantId']
df_ratings['Review'] = ratings['Review'] 
df_ratings['Rating'] = ratings['Rating']

In [ ]:
df_ratings

,UserId,RestaurantId,Review,Rating
0,1,1,A full 5 stars! Phenomenal Michelin ranked res...,5
1,2,1,We spent great evening here. Cozy restaurant w...,5
2,3,1,10/10. Aleria was our highlight during our tri...,5
3,4,1,Great service and fantastic food. We enjoyed e...,5
4,5,1,Let me put it his way: simply perfect. We hate...,5
...,...,...,...,...
26203,1000,30,"Very good grilled octopus, spinach pie and Sau...",5
26204,1001,30,"The food is sensarional, the service is great....",5
26205,1002,30,Risotto was excellent. Wine was an extremely s...,4
26206,1003,30,We decided to eat here for an afternoon snack ...,5
26207,1004,30,Waiters speak different languages and they are...,3

In [ ]:
df_ratings = df_ratings.sort_values(by='UserId', ignore_index=True)

In [ ]:
df_ratings

,UserId,RestaurantId,Review,Rating
0,1,1,A full 5 stars! Phenomenal Michelin ranked res...,5
1,1,22,Great dishes for sharing. Get the lamb also. ...,5
2,1,21,We had the lamb and souvlaki and both were so ...,5
3,1,25,"Strofi is located right near the Acropolis, an...",3
4,1,2,Excellent food and service. \n\nI have been co...,5
...,...,...,...,...
26203,1005,20,Can't say that the reviews and several word-of...,3
26204,1005,3,My favorite part of this restaurant was the fa...,5
26205,1005,15,Went back again and tried the apetizers and th...,5
26206,1005,25,Found this via our guidebook as a place with a...,4
26207,1005,11,This place is spectacular. Recommended by two...,5

In [ ]:
filepath = Path('restaurants.csv') 
df_restaurants.to_csv(filepath, index=False)

In [ ]:
filepath = Path('ratings.csv') 
df_ratings.to_csv(filepath, index=False)